*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    font-family: 'Monserrat', sans-serif;
    min-height: 100%;
}

:root{
    --clippy: polygon(0 0, 0% 100%, 0 100%);
}

/* ------ Estilos header -------- */

.container-fluid{
    background-color: #A0D4E0;

}
header{
    width: 100%;
    height: 750px;
    background-color: #36096d;
    background-image: linear-gradient(315deg, hsla(267, 85%, 23%, 0.529) 0%, hsla(180, 59%, 53%, 0.457) 74%), url(../fotos-videos/doctor.png);
    position: relative;
}


.navBar{
    width: 100%;
    height: 100px;
    font-weight: bold;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    align-items: center;
}

.logo{
    width: 200px;
    height: 150px;
    padding: 2px;
    margin: 10px 10px 10px 100px;
    justify-content: end;
    align-items: end;
}

#navbarSupportedContent li a{
    color: #000;
    letter-spacing: 2.5px;
    font-size: large;
    justify-content: flex-end;
    text-transform: uppercase;
    transition: transform 0.4s;
}

#navbarSupportedContent li a:hover{
    color: #11808f;
}

.contenedor{
    display: grid;
    grid-template-rows: 60px 100px 150px;
    justify-content: center;
    padding: 100px;
    align-items: flex-start;
    text-align: justify;
    font-weight: 300;
}

.contenedor h2{
    grid-row: 1/2;
    text-align: center;
    font-size: xx-large;
    letter-spacing: 1px;
}

.contenedor p{
    grid-row: 2/3;
    text-align:center;
    margin-bottom: 70px;
    letter-spacing: 1.8px;
    font-size: larger;
    line-height: 25px;
}

.contenedor h4{
    grid-row: 3/4;
    text-align: center;
    font-size: x-large;
    padding: 10px;
    margin: 60px;
    letter-spacing: 2px;
    word-spacing: 0.5px;
    font-weight: bold;
    border: #000000 solid 2px;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* ------ Finaliza estilos header -------- */

/* ------ Estilos index -------- */

/* ------ Estilos carrusel -------- */

.carousel{
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel img{
    width: 500px;
    height: 700px;
}

.carousel h2{
    text-align: center;
    padding: 10px;
}

.pie__carrusel{
    width: 200px;
    background-color: #82d8d1;
    border-radius: 10px;
    text-align:inherit;
    word-spacing: 5px;
    padding: 10px;
}

.pie__carrusel h2{
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pie__carrusel p{
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.turno{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(186, 83%, 49%, 0.343);
    margin-top: 50px;
}

.turno h3{
    text-align: center;
    padding: 40px;
}

.turno img{
    height: 60px;
    width: 250px;
}

/* ------ Finaliza estilos galeria -----*/

/* ------ Estilos footer ----- */

footer{
    background: #167e83d9;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(235, 235, 235);
}

.logoFooter img{
    width: 200px;
    height: 100px;
    padding: 2px;
    margin: 2px;
}

.contacto{
    text-align: center;
}

.contacto a{
    display: inline-flex;
    color: #fff;
    height: 40px;
    width: 40px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    transition: transform 0.4s;
}

.contacto a:hover{
    transform: scale(1.5);
    color: #fff;
}

.contacto a.ig{
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf);
}

.contacto a.fb{
    background-color: #3c70a4;
}

.contacto a.wapp{
    background-color: #05a405;
}

.contacto h3{
    color: #f2f2f2;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.contacto img{
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 30%;
}

#ubicacion{
    margin-right: 40px;
}

/* ----- finaliza estilos footer ----- */

/* ----- Estilos seccion kinesiologia ----- */

#acordion__tit{
    color: #000;
    font-size: large;
    font-weight: bold;
    letter-spacing: 2.5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.accordion-body img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.active img{
    width: 200px;
    height: 600px;
}

.tarjetas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    padding: 50px;
}

.tarjetas-box{
    width: 600px;
    margin: 10px;
    padding: 20px;
    background-color: #734ae8;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    color: #24303c;
}

.tarjetas-box h2{
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
    font-size: 25px;
    margin-top: 20px;
}

.tarjetas-box img{
    width: 100%;
    height: 470px;
    padding-top: 15px;
    border-radius: 14px;
    overflow: hidden;
}

/* ----- seccion pilates ----- */

.infopag img{
    width: 600px;
    height: 650px;
    position: relative;
    left: 50px;
}

.pilates{
    background-color: #069A8E;
    padding: 50px 50px;
}

.pilates h2{
    color: #fff;
    font-size: xx-large;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.pilates h3{
    color: #fff;
    text-align: center;
    font-size: x-large;

}

.pilates h4{
    color: #fff;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
}

.items{
    color: #fff;
    list-style-type: disc;
    padding-bottom: 10px;
}

/* ----- seccion staff ----- */

.section h2{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    background-color: #069A8E;
}

.section p{
    font-size: 30px;
    padding-top: 70px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-decoration: underline;
    background-color: #069A8E;

}.

.staff1{
    width: 400px;
    height: 400px;
    background: #084f85;
    color: #fff;
    position: relative;
    top: 100px;
    text-decoration: none;
    list-style-type: none;
    padding: 30px;
    margin: 30px 200px;
    border-style: groove;
}

.staff1 img{
    padding-left: 35px;
}

.staff1 p{
    position: relative;
    top: 70px;
}

.staff2{
    width: 400px;
    height: 400px;
    background: #084f85;
    color: #fff;
    position: relative;
    left: 500px;
    bottom: 330px;
    text-decoration: none;
    list-style-type: none;
    padding: 30px;
    margin: 30px 200px;
    border-style: groove;
}

.staff2 img{
    padding-left: 35px;
}

.staff2 p{
    position: relative;
    top: 70px;
}

.staff3{
    width: 400px;
    height: 400px;
    background: #084f85;
    color: #fff;
    position: relative;
    left: 1000px;
    bottom: 760px;
    text-decoration: none;
    list-style-type: none;
    padding: 30px;
    margin: 30px 200px;
    border-style: groove;
}

.staff3 img{
    padding-left: 35px;
}

.staff3 p{
    position: relative;
    top: 70px;
}

/* ----- seccion contacto ----- */

.form{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: 30px 200px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form h3{
    font-size: 22px;
    margin-bottom: 20px;
}

.campos{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.mapa{
    position: relative;
    left: 800px;
    bottom: 670px;
}

/* ------Estilos modelo responsive----- */

@media screen and (max-width:500px){
    
}

@media screen and (max-width:600px){
    
    .pie__carrusel{
        display: none;
    }

    /* ------- seccion kinesiologia - tarjetas ------ */

    .tarjetas{
        padding: 0;
    }

}

@media screen and (max-width:700px){

/* ----- Estilos index -----*/

    header{
        background-position: right;
        height: 600px;
    }

    #contactos__header{
        display: none;
    }

    .navBar{
        display: flex;
        padding-top: 100px;
    }
    .menu{
        display: flex;
        left: 0;
        width: 100%;
    }

    .menu li{
        margin: 30px 0 0 0;
        line-height: 30px;
        padding: 5px;
        margin: 0 0 50px 5px;
    }

    .menu li a{
        line-height: 60px;
        font-size: 12px;
    }

    .container-fluid img{
        margin: auto;
    }

    .logo{
        width: 100px;
        height: 100px;
        padding: 2px;
        margin: 0 0 50px 0;
    }


    .carousel img{
        width: 300px;
        height: 500px;
        border-radius: 10px;
    }

    .contenido{
        display: flex;
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .contenedor{
        padding: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        text-align: center;
    }

    .contenedor p{
        font-size: 14px;
        padding: 10px;        
    }

    .contenedor h4{
        display: none;
    }

    .galeria{
        width: 100%;
    }

    .imgPpal-1{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .imgPpal{
        width: 100%;
        margin: 0 auto;
    }

    .turno img{
        width: 200px;
        margin: auto;
        padding-right: 20px;
    }

    /* ----- Estilos footer-----*/

    footer{
        background: #167e83d9;
        padding: 60px 0 30px 0;
        margin: auto;
        overflow: hidden;
        width: 100%;
        height: 170px;
    }

    .contenedor-footer{
        display: flex;
        width: 100%;
        margin-top: -20px;
    }

    .logoFooter img{
        width: 180px;
        height: 80px;
    }

    .contacto{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 100px;
    }

    .contacto a{
        height: 30px;
        width: 30px;
        margin: 0 50px;
    }

    .contacto h3{
        display: none;
    }

    .contacto img{
        width: 50px;
        height: 50px;
        margin-top: -15px;
    }

    .contacto h4{
        font-size: 12px;
        word-spacing: 0.5px;
        margin-top: -5px;
    }

/* ----- Estilos kinesiologia-galeria -----*/

    .tarjetas-box{
    width: 500px;
    }

    .accordion-body img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        padding: 20px;
    }

}


@media screen and (max-width:1300px){

/* ----- Estilos kinesiologia-galeria -----*/
    
.tarjetas{
        grid-template-columns: 1fr;
    }

}

