.section{
    .seccion_staff{
        h2{
        font-size: 40px;
        text-align: center;
        background-color: $bg-nav;
        padding: 10px;
        margin: auto;
        }
        p{
            font-size: 25px;
            padding-left: 20px;
            padding-bottom: 10px;
            text-decoration: underline;
            background-color: $bg-nav;
        }
    }
    .cards{
        display: flex;
        padding: 10px;
        margin: 20px;
        .card{
            margin: 20px;
            justify-content: center;
            .card-title{
                text-align: center;
            }
        }
        .card-body{
            a{
            padding: 5px;
            }
        }
    }
}



