.section{
    .seccion_staff{
        h2{
        font-size: 40px;
        text-align: center;
        background-color: $bg-nav;
        padding: 10px;
        margin: auto;
        }
        p{
            font-size: 25px;
            padding-left: 20px;
            padding-bottom: 10px;
            text-decoration: underline;
            background-color: $bg-nav;
        }
    }
}



